.col-md-6 img {
    max-width: 100%;
    margin-top: 20px;
}
body {
    background-image: url(https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs2/137038231/original/8830af1dfc39c8d1b31b00b93329f61d269406ab/create-a-flat-and-minimalist-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    margin-top: 40px;
}

.card-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}
@media screen and (max-width: 2150px){
    body {
        background-size: auto;
    }
}

@media screen and (max-width: 767px){
    .img-fluid {
        max-width: 207px;
    }
}