
/* Setting Max Width of Image to not Exceed 100%
Margined Image 20px off the top */
.col-md-6 img {
    max-width: 100%;
    margin-top: 20px;
}
/* Called a Background Image for the body of HTML pages
Set Image to not repeat itself
Set Size to Cover the body */
body {
    background-image: url(https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs2/137038231/original/8830af1dfc39c8d1b31b00b93329f61d269406ab/create-a-flat-and-minimalist-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* Margined each Card 40px off the top */
.card {
    margin-top: 40px;
}
/* Called Font 'IBM Plex Sans' from Google Fonts and applied it to my Cards' Text */
.card-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
}
/* Created a Media Query for 2150px Max Width so the Background Image would not break on smaller screens */
@media screen and (max-width: 2150px){
    body {
        background-size: auto;
    }
}
/* Created a Media Query for my Facebook Image so that it would not Exceed 207px width on 767px screen sizes and lower */
@media screen and (max-width: 767px){
    .img-fluid {
        max-width: 207px;
    }
}